.ipynb_checkpoints
saved_models
transfer_learning
10_food_classes_1_percent
10_food_classes_10_percent
.idea
*.zip
06_101_food_class_10_percent_saved_big_dog_model
101_classes_10_percent_data_model_checkpoint
101_food_classes_10_percent
10_food_classes_1_percent
10_food_classes_10_percent
10_food_classes_all_data
10_percent_model_checkpoints_weights
101_classes_10_percent_data_model_checkpoint
custom_food_images
saved_model
transfer_learning
transfer_learning_scaling_up
__MACOSX
__pycache__
food101
tfds_food101
tfds_food101_project
